.caixa{
    float: "left";
    width: 180px;
    background-color: '#CCCCCC';
    margin-left: 80;
}

.imagem{
    width: 160px; 
    height: 140px; 
    display: block; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 5px;
}